extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/sign-up') Sign Up Here
  |   
  if !user
    a(href='/log-in') Log In Here
  |
  if user 
    a(href='/apply-membership')   Become a Membership
  //- ul
  //-   each message in messages
  //-     li= message.title 
  //-   else 
  //-     p no message yet
