extends layout

block content
  if user && user.membershipStatus === true
    h1 Welcome Members!
  else 
    h1 Welcome Non-Members!
  p Welcome to Message Board!
  if user
    a(href='/create-message') Create Message Here 
  if !user
    a(href='/sign-up') Sign Up Here
    |   
  if !user
    a(href='/log-in') Log In Here
  |
  if user && user.membershipStatus === false
    a(href='/apply-membership')   Become a Membership
  if user 
    a(href='/log-out')   Log Out
  ul
    each message in messages
      li= message.title 
      p= message.text
      if user && user.membershipStatus === true
        p created by: #{message.createdBy.fullname}
        p created at: #{message.createdAt}
    else 
      p no message yet
