extends layout 

block content 

    h1 #{title}

    form(method='POST' action='')
        div.form-group
            label(for='admin-code') Are you the chosen admin??? 
            input#admin-code.form-control(type='text',placeholder='guess the admin code!' name='adminCode' required='true')

        button.btn.btn-primary(type='submit') Submit
    if errors 
        ul 
            for error in errors 
                li!= error.msg